<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt2">

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Code Kitty</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/code" class="link">Code</a></li>
					<li><a href="/workshops" class="link">Workshops</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>
			<div>
				<!-- Logo -->
				<a href="/"></a> <!-- class="pa3 db mr4 h-100 w3 flex-none" -->
					<img src="/img/CodeKittyLogoBlack.svg" alt="Code Kitty" class="f4"/>
				</a>
			</div>
			<div>
				<h3 class="f4 b lh-title mb3 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
