<div class="bg-primary pv4">
  <div class="flex-l mhn1-l ph3 center mw7">
    <h2 class="f2 b lh-title mb2 w-40-l">Donate</h2>
    <p>
      <p class="w-60-l mb0">Please consider making a tax-exempt donation to our non-profit, 
        helping further our mission and fund our efforts.
      </p>
    </p>
  </div>
  <div class="flex-l mhn1-l ph3 center mw7">
    <h2 class="f2 b lh-title mb2 w-40-l"></h2>
    <p>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="YN7HGW2MXB2E4">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" width="180px" style="padding-bottom: 1.25em;" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
    </p>
  </div>
  <div class="flex-l mhn1-l ph3 center mw7">
    <h2 class="f2 b lh-title mb2 w-40-l">{{.heading}}</h2>
    <p class="w-60-l mb0"><i>{{.text}}</i></p>
  </div>
</div>
<div class="bg-grey-1 pv4">
  <div class="flex-l mhn1-l ph3 center mw7">
    <h2 class="f2 b lh-title mb2 w-40-l">
      <a href="https://smile.amazon.com" target="new">
        <img src="https://images-na.ssl-images-amazon.com/images/G/01/x-locale/paladin/smileLogo-slice._CB390880750_.png" alt="Amazon Smile" />
      </a>
    </h2>
    <p>
      <a href="https://smile.amazon.com" target="new">
        <h4>Add Code Kitty as your Amazon Smile Charity!</h4>
      </a>
      <p>
        Just go to <a href="https://smile.amazon.com">smile.amazon.com</a> and choose to support Code Kitty (in Plymouth, MN)!
        &nbsp;<br />
      </p>
    </p>
  </div>
</div>
