{{ define "main" }}

<div class="mw7 center ph3 pt4">
  <h3>Code in Python 2 right in your browser!</h3>
  <p>
    <i>Click in the white space below and start typing!</i>
  </p>
  <iframe src="https://trinket.io/embed/python/341b2cd9c6?toggleCode=true&runOption=console&runMode=console" width="100%" height="600" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
  <p>
    For even more fun learning Python Turtle, check out 
    <a href="https://drive.google.com/file/d/0BwESyz_i6N6QU29QWjVHUFQxVm8/view?resourcekey=0-e4caKXhQXH3Nzpf_RAKpWA" target="new">
      The Art of Code
    </a>!
  </p>
</div>

{{ end }}
