{{ define "main" }}

<div class="mw7 center ph3 pt4">
  <h3>Code in Python 2 right in your browser!</h3>
  <i>Check out our Workshops and Resources page for lessons and other content!</i>
  <iframe src="https://trinket.io/embed/python/341b2cd9c6?toggleCode=true&runOption=console&runMode=console" width="100%" height="600" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
  {{ range $index, $element := .Params.values }}
    {{ if modBool $index 2 }}
      {{ partial "media-block" $element }}
    {{ else }}
      {{ partial "media-block-reverse" $element }}
    {{ end }}
  {{ end }}

</div>

{{ end }}
